!Xft.autohint:               0
!Xft.hinting:                1

Xft.dpi:                    96

URxvt.scrollBar:            false
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      true
URxvt.pointerBlank:         true
URxvt.visualBell:           true
URxvt.saveLines:            3000
URxvt.fading:               40

URxvt.font:                 xft:DejavuSansMono-11:antialias=true
!URxvt.font:                 xft:SourceHanCodeJP-11
!URxvt.font:                 xft:NotoSans-11
URxvt.letterSpace:          -1

URxvt.depth:                32

URxvt.foreground:           [90]#FFFFFF
URxvt.background:           [90]#282828
!URxvt.colorIT:              [90]#8ec07c
!URxvt.colorBD:              [90]#d5c4a1
!URxvt.colorUL:              [90]#83a598
!URxvt.scrollColor:          [90]#504945

