<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4063D9EB-F54A-454E-902C-2A163F6D0E60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A990173C-D74E-4110-BF59-A5398F3ADB4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Download folder file rename</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># ~/Download のpdfファイルのうち、最新のものを YYMMDD_query.pdf にリネーム

query=$1

echo -n $query

cd ~/Downloads

# 最新の.pdfを検索
file=`ls -1t *.pdf | head -1`
echo $file

# 2018MMDDの場合、先頭の20を削除
if [ "${file:0:2}" == "20" ]; then
    newest="${file:2:6}"
# 18MMDDの場合はそのまま
elif [ "${file:0:2}" == "18" ]; then
    # すでに_queryを登録している場合があるので、その場合は削除
    if [ `echo "$file" | grep "_"` ]; then
        newest="${file%_*}"
    else
        newest="${file%.*}"
    fi
# 20でも18でもない場合はとりあえずスルー
else
    newest="${file%.*}"
fi
echo $newest

# 引数指定があればYYMMDD_引数.pdfにする
if [ -z "$query" ]; then
    newname="${newest}.pdf"
elif [ -n "$query" ]; then
    newname="${newest}_${query}.pdf"
else
    newname=$newest
fi
echo $newname

# リネーム
mv $file $newname</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4063D9EB-F54A-454E-902C-2A163F6D0E60</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>.rd</string>
				<key>subtext</key>
				<string>Downloadフォルダの最新PDFをリネーム</string>
				<key>text</key>
				<string>.rd</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77269867-DF3F-43FA-AD1A-893B32E5B492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A990173C-D74E-4110-BF59-A5398F3ADB4F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>4063D9EB-F54A-454E-902C-2A163F6D0E60</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>1. This keyword is set to not require additional input text, so that you can type "gettingstarted" and press return to launch the two attached actions at once.</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>A990173C-D74E-4110-BF59-A5398F3ADB4F</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
